<div{{ attributes.addClass( data.class.office ) }}>
    <h2>Attendance List</h2>

    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}

    <form>
        <input type="hidden" name="mode" value="submit">
        <input type="date" name="date" value="{{ data.input.date }}">
        <input type="submit">
    </form>

    {% if member.id %}
    <div>

        <div>
            Attendance List For {{ member.user_id.entity.name.value }}
        </div>
        <div>Your Group : <b>{{ member.group_id.entity.name.value }}</b></div>
        Normal Working Hour
        <table>
            <tr>
                <td>Begin</td>
                <td>End</td>
            </tr>
            <tr>
                <td>{{ data.work_hour_begin }}</td>
                <td>{{ data.work_hour_end }}</td>
            </tr>
        </table>

    </div>
    {% endif %}

    {% if data.days  %}
    <table class="attendance-list" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <th>Username</th>
            <th>Date</th>
            <th>Attend</th>
            <th>Etc</th>
            <th>Work Schedule</th>
        </tr>
        {% for day in data.days %}
            <tr>
                <td>{{ day.username }}</td>
                <td>
                    {{ day.date }}
                    ({{ day.day }})
                </td>
                <td>
                    <div>{{ day.attend_time }}</div>
                    {% if day.begin_status %}
                        <b>{{ day.begin_status | raw}}</b>
                        {{ day.records | raw }}
                    {% endif %}
                </td>
                <td>{{ day.etc }}</td>
                <td>
                    {% if day.work_begin %}
                    {{ day.work_begin }}
                    -
                    {{ day.work_end }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>