<div class="office">
{% if data.error.code %}
<div class="error">
    {{ data.error.message }}
</div>
{% endif %}

<form action="/office/employee/add">
    <input type="hidden" name="mode" value="submit">
    <input type="hidden" name="eid" value="{{ data.employee.id.value }}">


    First Name: <input type="text" name="name" value="{{ data.employee.name.value }}"><br>


    Address : <input type="text" name="address" value="{{ data.employee.get('address').value }}">

    <br>

    <select name="group">
        <option value="">Select your group</option>
        {% for group in data.groups %}
            <option value="{{ group.id.value }}">{{ group.name.value }}</option>
        {% endfor %}
    </select>

    <br>


    <input type="submit">

</form>
</div>