
<div{{ attributes.addClass( data.class.office ) }}>
    <h2> Group Edit/Add</h2>
    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}

    {% if data.code %}
    {% else %}

    <form class='group' action="/office/group/add">
        <fieldset>
            <legend>GROUP ADD</legend>
            <input type="hidden" name="mode" value="submit">
            <input type="hidden" name="group_id" value="{{ data.group.id.value }}">

            <table>
                <tr>
                    <td><label for="group-name">Group Name: </label></td>
                    <td>
                        <input type="text" name="name" id="group-name" value="{{ data.group.name.value }}">
                    </td>
                </tr>
                {% if is_admin %}
                <tr>
                    <td>
                        <label for="owner">Group Owner: </label>
                    </td>
                    <td>
                        <input type="text" name="owner" id="owner" value="{{ data.owner.username }}">
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>
                        <label for="description">Group Description :</label>
                    </td>
                    <td>
                         <input type="text" name="description" id="description" value="{{ data.group.description.value }}">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Group View Status</label>
                    </td>
                    <td>

                        <input type="radio" name="view_status" id="view_status_open" value="O"{{ data.group.view_status.value == 'O' ? ' checked=1'}}>
                        <label for="view_status_open">Public</label>

                        <input type="radio" name="view_status" id="view_status_close" value="C"{{ data.group.view_status.value == 'C' ? ' checked=1'}}>
                        <label for="view_status_close">Private</label>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Who can create tasks?</label>
                    </td>
                    <td>

                        <input type="radio" name="create_status" id="create_status_anyone" value="A"{{ data.group.create_status.value == 'A' ? ' checked=1'}}>
                        <label for="create_status_anyone">Anyone</label>

                        <input type="radio" name="create_status" id="create_status_member" value="M"{{ data.group.create_status.value == 'M' ? ' checked=1'}}>
                        <label for="create_status_member">Member of the group</label>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label> Group Rest Days : Working days:</label>
                    </td>
                    <td>

                        <input type="checkbox" id="work_sunday" name="work_sunday" value="Y"{{ data.config.work.sunday=='Y' ? ' checked=1' }}> <label for="work_sunday">Sunday</label>,
                        <input type="checkbox" id="work_monday" name="work_monday" value="Y"{{ data.config.work.monday=='Y' ? ' checked=1' }}> <label for="work_monday">Monday</label>,
                        <input type="checkbox" id="work_tuesday" name="work_tuesday" value="Y"{{ data.config.work.tuesday=='Y' ? ' checked=1' }}> <label for="work_tuesday">Tuesday</label>,
                        <input type="checkbox" id="work_wednesday" name="work_wednesday" value="Y"{{ data.config.work.wednesday == 'Y' ? ' checked=1' }}> <label for="work_wednesday">Wednesday</label>,
                        <input type="checkbox" id="work_thursday" name="work_thursday" value="Y"{{ data.config.work.thursday=='Y' ? ' checked=1' }}> <label for="work_thursday">Thursday</label>,
                        <input type="checkbox" id="work_friday" name="work_friday" value="Y"{{ data.config.work.friday=='Y' ? ' checked=1' }}> <label for="work_friday">Friday</label>,
                        <input type="checkbox" id="work_saturday" name="work_saturday" value="Y"{{ data.config.work.saturday=='Y' ? ' checked=1' }}> <label for="work_saturday">Saturday</label>

                    </td>
                </tr>

                <tr>
                    <td>
                        {% if data.group.id %}
                            <div class="dayoffs">
                                <div>
                                    Group Day Offs :
                                    <input type="text" name="dayoff" id="datepicker" placeholder="YYYY-MM-DD">
                                    <input type="text" name="reason" placeholder="Why is it day off?">
                                    <span class="add-dayoff">[ ADD ]</span>
                                </div>
                                <div class="dayoff-message"></div>
                                <div>
                                    Year-Month-Day, Reason
                                </div>
                                <div class="rows">
                                    {% for date,reason in data.config.dayoffs %}
                                        <div class="row">
                                            <span class="date">{{ date }}</span>
                                            <span class="reason">{{ reason }}</span>
                                            <span class="delete">[ Delete ]</span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td><label for="submit"></label></td>
                    <td>
                        <input type="submit" id="submit">
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>


    <a href="/office/group/{{ data.group.id.value }}/workinghours"> [ GROUP WORK HOUR SCHEDULES ] </a>

    {% endif %}

</div>