<div{{ attributes.addClass( data.class.office ) }}>

    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}


    Group : {{ data.group.name.value }}

    <form>
        <input type="hidden" name="mode" value="submit">
        <input type="hidden" name="for" value="group">
        <input type="hidden" name="group_id" value="{{ data.group.id.value }}">

        Group Working Hour:

        <input type="text" name="begin_time" placeholder="MMDD. Begin time" value="{{ data.work[0] }}">
        -
        <input type="text" name="end_time" placeholder="MMDD. End time" value="{{ data.work[1] }}">

        <input type="submit">
    </form>



    <form>
        <input type="hidden" name="mode" value="submit">
        <input type="hidden" name="for" value="individual">
        <input type="hidden" name="group_id" value="{{ data.group.id.value }}">

        Individual Working Hour:


        <input type="text" name="name" placeholder="Username" data-autocomplete-url="/office/api?call=autocomplete&type=user">

        <br>
        <input type="text" name="date" id="datepicker" placeholder="Date" value="">




        <input type="text" name="begin_time" placeholder="MMDD. Begin time" value="">
        -
        <input type="text" name="end_time" placeholder="MMDD. End time" value="">
        <br>
        Reason:
        <input type="text" name="reason" placeholder="Why?" value="">
        <br>

        <input type="submit">
    </form>

    <ul>
        <li>If username is omitted, then it apply to all the members of the group.</li>
    </ul>


    <table class="rows" width="100%">
        <tr>
            <td>Username</td>
            <td>Date</td>
            <td>Working Hours</td>
            <td>Reason</td>
            <td>Delete</td>
        </tr>
    {% for work in data.member_work %}
        <tr class="row">
            <td>
                {% if work.user.name.value %}
                    {{ work.user.name.value }}
                {% else %}
                    ALL
                {% endif %}
            </td>
            <td>{{ work.date }}</td>
            <td>{{ work.begin }} - {{ work.end }}</td>
            <td>{{ work.reason }}</td>
            <td><a href="/office/group/{{ data.group.id.value }}/workinghours?mode=submit&for=delete&idx={{ work.idx }}">[ DELETE ]</a></td>
        </tr>
    {% endfor %}
    </table>






</div>
