
<div{{ attributes.addClass( data.class.office ) }}>
    <h2>Office Group List</h2>
    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}


    <table class="group-list" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <th>No.</th>
            <th>Owner</th>
            <th>Name</th>
            <th>Status</th>
            <th>No. of Members</th>
            <th>No. of Tasks</th>
            {% if is_admin %}
                <th>Buttons</th>
            {% endif %}
        </tr>
        {% for group in data.groups %}

            <tr>
                <td>{{ group.id.value }}</td>
                <td>{{ group.user_id.entity.name.value }}</td>
                <td>
                    <a href="/office/group/{{ group.id.value  }}/edit">
                        {{ group.name.value }}
                    </a>
                </td>
                <td>
                    {% if group.view_status.value == 'O' %}
                        Public
                    {% else %}
                        Private
                    {% endif %}
                </td>
                <td>0</td>
                <td>0</td>
                {% if is_admin or group.user_id.entity.id == user.id %}
                    <td>[ Edit | <a href="/office/group/{{ group.id.value  }}/workinghours">Work Schedule</a> | Delete ]</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

