<div{{ attributes.addClass( data.class.office ) }}>
    <h2>Office Member List</h2>
    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}

    MEMBER ADD
    <form>
        <input type="hidden" name="mode" value="submit">
        <input type="text" name="name" value="" autocomplete="off" data-autocomplete-url="/office/api?call=autocomplete&type=member">
        <input type="submit" value="ADD MEMBER">
    </form>
    <table width="100%" class="member-list">
        <tr>
            <th>NAME</th>
            <th>ADDRESS</th>
            <th>ATTEND</th>
        </tr>
    {% for member in data.members %}
        <tr>
            <td>
                <a href="/office/member/{{ member.user_id.entity.id }}">
                    {{ member.user_id.entity.name.value }}
                    ({{ member.first_name.value }})
                </a>
            </td>
            <td>
                <a href="/office/member/{{ member.user_id.entity.id }}">{{ member.get('address').value }}</a>
            </td>

            <td>
                <a href="/office/attendance_list?mode=submit&uid={{ member.user_id.entity.id }}&date={{ 'now' | date('Y-m-d') }}">ATTEND LIST</a>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>