<div{{ attributes.addClass( data.class.office ) }}>

    <h2>Office : Member Add / Edit</h2>

    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}

    {% if logged_in %}

    <form  class="member" action="/office/member/add" enctype="multipart/form-data" method="POST">
       <fieldset>
           <legend> ADD / EDIT</legend>
           <input type="hidden" name="mode" value="submit">
               <div class="row">
                   <div class="caption">First Name</div>
                   <div class="text"><input type="text" id="first_name" name="first_name" value="{{ data.member.first_name.value }}"></div>
               </div>

               <div class="row">
                   <div class="caption">Middle Name</div>
                   <div class="text"><input type="text" name="middle_name"  id="middle_name" value="{{ data.member.middle_name.value }}"></div>
               </div>

               <div class="row">
                   <div class="caption">Last Name</div>
                   <div class="text"><input type="text" name="last_name" id="last_name" value="{{ data.member.last_name.value }}"></div>
               </div>

               <div class="row">
                   <div class="caption">Mobile Number</div>
                   <div class="text"><input type="text" name="mobile"  id="mobile" value="{{ data.member.mobile.value }}"></div>
               </div>

               <div class="row">
                   <div class="caption">Landline Number</div>
                   <div class="text"><input type="text" name="landline" id="landline" value="{{ data.member.landline.value }}"></div>
               </div>

               <div class="row">
                   <div class="caption">Address</div>
                   <div class="text"><input type="text" name="address" id="address" value="{{ data.member.address.value }}"></div>
               </div>


           <div class="row">
               <div class="caption">File Upload</div>
               <div class="text">
                   <input type='file' name='files[]' multiple>
               </div>
           </div>


           <div class="row">
                   <div class="caption">&nbsp;</div>
                   <div class="text">
                       <div class="jbutton-group">
                           <input class="jbutton grey-active submit" type="submit" id="submit">
                       </div>
                   </div>
               </div>

         </fieldset>
    </form>
    {% endif %}

    {% if data.member.files %}
        <div class="office-uploaded-files">
            <div class="images">
                {% for file in data.member.files %}
                    {% if 'image' in file.getMimeType %}
                        <a href="{{ file.url }}"><img src="{{ file.url }}"></a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="attachments">
                {% for file in data.member.files %}
                    {% if 'image' not in file.getMimeType %}
                        <a href="{{ file.url }}">Download: {{ file.name_url_decoded }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

</div>

