<div{{ attributes.addClass( data.class.office ) }}>
    <h2>Office Member View</h2>

    <table>
        <tr>
            <td>
                Username:
            </td>
            <td>
                 {{ data.user.username }}
            </td>
        </tr>

        <tr>
            <td>
                First name:
            </td>
            <td>
                 {{ data.user.get('field_first_name').value }}
            </td>
        </tr>
        <tr>
            <td>
                Mail:
            </td>
            <td>
                 {{ data.user.get('mail').value }}
            </td>
        </tr>
        <tr>
            <td>
                Address:
            </td>
            <td>
                 {{ data.member.get('address').value }}
            </td>
        </tr>

        <tr>
            <td>
                <div class="button">
                    <a href="/office/member/list">Office Member List</a>
                </div>
            </td>
        </tr>
    </table>
</div>