<div{{ attributes.addClass( data.class.office ) }}>
    <h1>Office Member View</h1>
    Username: {{ data.user.username }}<br>
    First name: {{ data.user.get('field_first_name').value }}<br>
    Mail: {{ data.user.get('mail').value }}<br>
    Address: {{ data.member.get('address').value }}
    <div class="button">
        <a href="/office/member/list">Office Member List</a>
    </div>
</div>