<div{{ attributes.addClass( data.class.office ) }}>

    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}
    <h1>Office Member List</h1>
    <table width="100%">
        <tr>
            <td>Name</td>
            <td>Address</td>
        </tr>
    {% for member in data.members %}

        <tr>
            <td>
                <a href="/office/member/{{ member.user_id.entity.id }}">
                    {{ member.user_id.entity.name.value }}
                    ({{ member.first_name.value }})
                </a>
            </td>
            <td>
                <a href="/office/member/{{ member.user_id.entity.id }}">{{ member.get('address').value }}</a>
            </td>

            <td>
                <a href="/office/attendance_list?mode=submit&uid={{ member.user_id.entity.id }}&date={{ 'now' | date('Y-m-d') }}">ATTEND LIST</a>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>