<div class="office-message welcome-task-status grid">

{% if office.member %}
   <div class="a welcome">
       <div class="content">
           {{ ol.welcome | replace({'$name':office.member.user_id.entity.name.value}) }}
           {% if office.groups %}
               {{ ol.group }} :
               Primary - {{ office.group.name.value }}
               {% if office.groups %}
                    Also Joined :
                   {% for group in office.groups %}
                       {{ group.group_id.entity.name.value }}
                   {% endfor %}
               {% endif %}
           {% endif %}
       </div>
    </div>
    <div class="b task-status">
        <div class="content">
            <span class="task"><b>Your task</b><i>{{ my.count_task }}</i></span>
            {% if my.count_urgent_task %}
            <span class="urgent"><b>Urgent</b><i>{{ my.count_urgent_task }}</i></span>
            {% endif %}
            {% if my.count_deadline_task %}
                <span class="deadline"><b>Deadline</b><i>{{ my.count_deadline_task }}</i></span>
            {% endif %}
            {% if my.count_rejected_task %}
                <span class="rejected"><b>Rejected</b><i>{{ my.count_rejected_task }}</i></span>
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="login-first">
        Please login first...
    </div>
{% endif %}

</div>


<nav class="office-menu">
        <div>
            <a href="/office"><span class="caption office">{{ ol.front_desk }}</span></a>
            <a href="/office/member/add"><span class="item register">{{ ol.registration }}</span></a>
            <a href="/office/documentation"><span>Documentation</span></a>
        </div>

        {% if office.groups %}
        <div>
            <a href="/office/attendance_list/?mode=submit&date={{ 'now' | date("Y-m-d") }}"><span class="caption my-desk">Attendance List</span></a>
            <a href="/office/attend"><span class="item attend">Attend now</span></a>
        </div>
        {% endif %}

        {% if is_admin %}
         <div>
             <a href="/office/group/list"><span class="caption group-list">ALL GROUP - LIST </span></a>
             <a href="/office/group/add"><span class="item group-create">Create</span></a>
             <a href="/office/member/list"><span class="item all-member-list">ALL Group Member List</span></a>
         </div>
        {% endif %}

        {% if office.is_group_admin %}
        <div>
            <a href="/office/group/{{ office.my_own_group.id.value }}/edit"><span class="caption group-update">My Group - Update</span></a>
            <a href="/office/group/{{ office.my_own_group.id.value }}/workinghours"><span class="item group-update-workschedule">Work Schedules</span></a>
            <a href="/office/group/member/list/{{ office.my_own_group.id.value }}"><span class="item group-member-list">Group Member List</span></a>
        </div>
        {% endif %}

        <div>
            <a href="/office/task/list"><span class="caption">{{ ol.task_list }}</span></a>
            <a href="/office/task/add"><span class="item task-create">{{ ol.task_create }}</span></a>
            <a href="/office/process/list"><span class="item task-create">Work Process Update</span></a>
        </div>
</nav>
