<div class="office-message grid">

{% if office.member %}
   <div class="a welcome">
       <div class="content">
           {{ text.welcome | replace({'$name':office.member.user_id.entity.name.value}) }}
           {% if office.group %}
               {{ text.group }} : {{ office.group.name.value }}
           {% endif %}
       </div>
    </div>
    <div class="b task-status">
        <div class="content">
            <span class="task"><b>Your task</b><i>{{ my.count_task }}</i></span>
            <span class="urgent"><b>Urgent</b><i>{{ my.count_urgent_task }}</i></span>
            <span class="deadline"><b>Deadline</b><i>{{ my.count_deadline_task }}</i></span>
        </div>
    </div>
{% else %}
    <div class="login-first">
        Please login first...
    </div>
{% endif %}

</div>


<nav class="office-menu">
        <div>
            <a href="/office"><span class="caption office">{{ text.front_desk }}</span></a>
            <a href="/office/member/add"><span class="item register">{{ text.registration }}</span></a>
            <a href="/office/documentation">Documentation</a>
        </div>

        {% if office.group %}
        <div>
            <a href="/office/attendance_list/?mode=submit&date={{ 'now' | date("Y-m-d") }}"><span class="caption my-desk">Attendance List</span></a>
            <a href="/office/attend"><span class="item attend">Attend now</span></a>
        </div>
        {% endif %}

        {% if is_admin %}
         <div>
             <a><span class="caption">ALL GROUP</span></a>
             <a href="/office/group/list"><span class="item group-list">List</span></a>
             <a href="/office/group/add"><span class="item group-create">Create</span></a>
             <a href="/office/member/list"><span class="item all-member-list">ALL Group Member List</span></a>
         </div>
        {% endif %}

        {% if office.is_group_admin %}
        <div>
            <a><span class="caption">My Group</span></a>
            <a href="/office/group/{{ office.my_own_group.id.value }}/edit"><span class="item group-update">Group Information Update</span></a>
            <a href="/office/group/{{ office.my_own_group.id.value }}/workinghours"><span class="item group-update-workschedule">Work Schedules</span></a>
            <a href="/office/member/list"><span class="item group-member-list">Member List</span></a>
        </div>
        {% endif %}

        <div>
            <a href="/office/task/list"><span class="caption">{{ text.task_list }}</span></a>
            <a href="/office/task/add"><span class="item task-create">{{ text.task_create }}</span></a>
            <a href="/office/process/list"><span class="item task-create">Work Process Update</span></a>
        </div>
</nav>

