{% if office.member %}
    {{ text.welcome | replace({'$name':office.member.user_id.entity.name.value, '$group':office.group.name.value}) }}
{% endif %}

<div class="office-menu">

    <nav>
        <div>
            <a><span class="caption office">OFFICE</span></a>
            <a href="/office"><span class="item front">Front Desk</span></a>
            <a href="/office/member/add"><span class="item register">Office Member Registration</span></a>
        </div>

        {% if office.member %}
        <div>
            <a><span class="caption my-desk">MY DESK</span></a>
            <a href="/office/attendance_list/?mode=submit&date={{ 'now' | date("Y-m-d") }}"><span class="item attendance-list">Attendance List</span></a>
            <a href="/office/attend"><span class="item attend">Attend</span></a>
        </div>
        {% endif %}
        {% if is_admin %}
         <div>
             <a><span class="caption">ALL GROUP</span></a>
             <a href="/office/group/list"><span class="item group-list">List</span></a>
             <a href="/office/group/add"><span class="item group-create">Create</span></a>
             <a href="/office/member/list"><span class="item all-member-list">ALL Group Member List</span></a>
         </div>
        {% endif %}
        {% if office.is_group_admin %}
        <div>
            <a><span class="caption">Group Admin Page</span></a>
            <a href="/office/group/{{ data.group.id.value }}/edit"><span class="item group-update">Group Information Update</span></a>
            <a href="/office/group/{{ data.group.id.value }}/workinghours"><span class="item group-update-workschedule">Work Schedules</span></a>
            <a href="/office/member/list"><span class="item group-member-list">Member List</span></a>
        </div>
        {% endif %}
        <div>
            <a><span class="caption">TASK</span></a>
            <a href="/office/task/list"><span class="item task-list">List</span></a>
            <a href="/office/task/add"><span class="item task-create">Create</span></a>
        </div>

        <div>
            <a href="/office/login">Login</a>
        </div>

    </nav>


</div>

<div class="office-information">
    <div>
        {{ office.member.user_id.entity.name.value }}
        Group : {{ office.member.group_id.entity.name.value }}
        Now : {{ office.now }}
    </div>
</div>
