{% set process = data.process %}
<div{{ attributes.addClass( data.class.office ) }}>

    <h2>Work Process Add / Edit</h2>

    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}


    <form class="process-edit" action="/office/process/edit">

        <fieldset>

            <input type="hidden" name="mode" value="submit">
            <input type="hidden" name="process_id" value="{{ process.id.value }}">

            <div class="row">
                <div class="caption">Name Of Task</div>
                <div class="text"><input type="text" name="name" value="{{ process.name.value }}"></div>
            </div>

            <div class="row">
                <div class="caption">Work Flow ( Work Process )</div>
                <div class="text"><textarea name="workflow">{{ process.workflow.value }}</textarea></div>
            </div>

            <div class="row">
                <div class="caption">Requirement<br>Add URL of FORMs and Requirement</div>
                <div class="text"><textarea name="requirement">{{ process.requirement.value }}</textarea></div>
            </div>


            <div class="row">
                <div class="caption">Summary</div>
                <div class="text"><textarea name="summary">{{ process.summary.value }}</textarea></div>
            </div>

            <div class="row">
                <div class="caption">Description</div>
                <div class="text"><textarea name="description">{{ process.description.value }}</textarea></div>
            </div>


            <div class="row">
                <div class="caption">&nbsp;</div>
                <div class="text">
                    <div class="jbutton-group">
                        <input class="jbutton grey-active submit" type="submit">
                        <a class="jbutton list" href="/office/process/list">LIST</a>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>


</div>
