<div{{ attributes.addClass( data.class.office ) }}>

    <div class="row process">
        <h2>Work Process List
            {% if office.is_member %}
                <span class="create"><a href="/office/process/add">CREATE</a><span>
            {% endif %}
        </h2>
    </div>


    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}

    <table cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td>No.</td>
            <td>Owner</td>
            <td>Name</td>
            <td>Summary</td>
            <td>Description</td>
            {% if office.is_member %}
            <td>EDIT</td>
            {% endif %}
        </tr>
        {% for process in data.processes %}

            <tr>
                <td>{{ process.id.value }}</td>
                <td>{{ process.user_id.entity.name.value }}</td>
                <td>
                    <a href="/office/process/{{ process.id.value  }}">
                        {{ process.name.value }}
                    </a>
                </td>
                <td>{{ process.summary.value }}</td>
                <td>{{ process.description.value }}</td>
                <td>
                    {% if process.group.user_id.target_id == my.user_id.target_id or process.group.id.value == office.group.id.value %}
                        <div class="jbutton-group">
                        <a class="jbutton edit" href="/office/process/edit/{{ process.id.value }}">EDIT</a>
                    </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

