
<div{{ attributes.addClass( data.class.office ) }}>

    <h2>Task List</h2>

    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}


    <div class="office-message todo">@TODO - Remember search option, Labeling,
        Search for status[In progress, Not accepted, Rejected, Finished]
        Search by priority, roadmap
    </div>

    <form>
        <fieldset>
            <legend> CREATE TASK</legend>
            <input type="hidden" name="mode" value="submit">
            <table>
                <tr>
                    <td><label for="group_id">Group</label></td>
                    <td>
                        <select name="group_id" id="group_id">
                            <option value="">Select service group</option>
                            {% for group in groups %}
                                <option value="{{ group.id.value }}"{{ input.group_id == group.id.value ? ' selected' }}>{{ group.name.value }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="creator">Creator :</label>
                    </td>
                    <td>
                        <input type="text" id="creator" name="creator" value="{{ input.creator }}" autocomplete="off" data-autocomplete-url="/office/api?call=autocomplete&type=user">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="worker">Assigned To(Worker) :</label>
                    </td>
                    <td>
                        <input type="text" id="worker" name="worker" value="{{ input.worker }}" autocomplete="off" data-autocomplete-url="/office/api?call=autocomplete&type=user">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="in_charge">Person in charge :</label>
                    </td>
                    <td>
                        <input type="text" id="in_charge" name="in_charge" value="{{ input.in_charge }}" autocomplete="off" data-autocomplete-url="/office/api?call=autocomplete&type=user">
                    </td>
                </tr>

                <tr>

                    <td>Work Status</td>
                    <td>
                        <input id='pending' type="radio" name="status" value="pending"{{ input.status == 'pending' ? ' checked=1' }}>
                        <label for="pending">Pending.</label>

                        <input id='accepted' type="radio" name="status" value="accepted"{{ input.status == 'accepted' ? ' checked=1' }}>
                        <label for="accepted">Accepted</label>

                        <input id='inprogress' type="radio" name="status" value="inprogress"{{ input.status == 'inprogress' ? ' checked=1' }}>
                        <label for="inprogress">In-progress</label>

                        <input id='finished' type="radio" name="status" value="finished"{{ input.status == 'finished' ? ' checked=1' }}>
                        <label for="finished">Finished</label>

                        <input id='closed' type="radio" name="status" value="closed"{{ input.status == 'closed' ? ' checked=1' }}>
                        <label for="closed">Closed</label>

                        <input id='redo' type="radio" name="status" value="redo"{{ input.status  == 'redo' ? ' checked=1' }}>
                        <label for="redo">Redo (Work again)</label>

                        <input id='rejected' type="radio" name="status" value="rejected"{{ input.status == 'rejected' ? ' checked=1' }}>
                        <label for="rejected">Rejected</label>

                        <input id='status_all' type="radio" name="status" value=""{{ input.status == '' ? ' checked=1' }}>
                        <label for="status_all">All</label>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="worker">Service For (Client) :</label>
                    </td>
                    <td>
                        <input type="text" id="worker" name="client" value="{{ input.client }}" autocomplete="off" data-autocomplete-url="/office/api?call=autocomplete&type=user">

                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Sort Field :</label>
                    </td>
                    <td>
                        <input type="radio" name="sort" id="priority" value="priority"{{ input.sort == 'priority' ? ' checked=1' }}>
                        <label for="priority">Priority</label>

                        <input type="radio" name="sort" id="checked" value="checked"{{ input.sort == 'checked' ? ' checked=1' }}>
                        <label for="checked">Date-checked</label>

                        <input type="radio" name="sort" id="change" value="change"{{ input.sort == 'change' ? ' checked=1' }}>
                        <label for="change">Date-change</label>

                        <input type="radio" name="sort" id="roadmap" value="roadmap"{{ input.sort == 'roadmap' ? ' checked=1' }}>
                        <label for="roadmap">Roadmap</label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label> Sort in :</label>
                    </td>
                    <td>
                        <input type="radio" name="by" id="ASC" value="ASC"{{ input.by == 'ASC' ? ' checked=1' }}>
                        <label for="ASC">Asc</label>
                        <input type="radio" name="by" id="DESC" value="DESC"{{ input.by == 'DESC' ? ' checked=1' }}>
                        <label for="DESC">Desc</label>

                    </td>
                </tr>

                <tr>
                    <td><label>Show Fields:</label></td>
                    <td>

                        <input type="checkbox" name="show_group" id="show_group" value="Y"{{ input.show_group == 'Y' ? ' checked=1' }}>
                        <label for="show_group">Group</label>
                        <input type="checkbox" name="show_priority" id="show_priority" value="Y"{{ input.show_priority == 'Y' ? ' checked=1' }}>

                        <label for="show_priority">Priority</label>


                        <input type="checkbox" name="show_status" id="show_status" value="Y"{{ input.show_status == 'Y' ? ' checked=1' }}>
                        <label for="show_status">Status</label>



                        <input type="checkbox" name="show_date" id="show_date" value="Y"{{ input.show_date == 'Y' ? ' checked=1' }}>
                        <label for="show_date">Date</label>


                        <input type="checkbox" name="show_creator" id="show_creator" value="Y"{{ input.show_creator == 'Y' ? ' checked=1' }}>
                        <label for="show_creator">Creator</label>
                        <input type="checkbox" name="show_assigned" id="show_assigned" value="Y"{{ input.show_assigned == 'Y' ? ' checked=1' }}>
                        <label for="show_assigned">Assigned To</label>
                        <input type="checkbox" name="show_in_charge" id="show_in_charge" value="Y"{{ input.show_in_charge == 'Y' ? ' checked=1' }}>
                        <label for="show_in_charge"> In charge of</label>
                        <input type="checkbox" name="show_client" id="show_client" value="Y"{{ input.show_client == 'Y' ? ' checked=1' }}>
                        <label for="show_client"> Service For</label>
                        <input type="checkbox" name="show_road_map" id="show_road_map" value="Y"{{ input.show_road_map == 'Y' ? ' checked=1' }}>
                        <label for="show_road_map">Road-map</label>
                    </td>
                </tr>


                <tr>
                    <td><label for="submit"></label></td>
                    <td>
                        <div class="jbutton-group">
                            <input class="jbutton grey-active submit" type="submit" id="submit">
                        </div>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>


    <table width='100%' class="list">
        <tr>

            {% if input.show_group == 'Y' %}
                <td><span>Group</span></td>
            {% endif %}

            {% if input.show_road_map == 'Y' %}
                <td><span>Roadmap</span></td>
            {% endif %}

            {% if input.show_priority == 'Y' %}
                <td><span>Priority</span></td>
            {% endif %}


            <td><span>Title</span></td>

            {% if input.show_date == 'Y' %}
                <td><span>Date</span></td>
            {% endif %}

            {% if input.show_creator == 'Y' %}
                <td><span>Creator</span></td>
            {% endif %}

            {% if input.show_assigned == 'Y' %}
                <td><span>Assigned To</span></td>
            {% endif %}

            {% if input.show_in_charge == 'Y' %}
                <td><span>In charge of</span></td>
            {% endif %}

            {% if input.show_client == 'Y' %}
                <td><span>Client</span></td>
            {% endif %}

            <td>
                <span>
                    ...
                </span>
            </td>

        </tr>
        {% for task in data.tasks %}
            {% if task.group_id.target_id == my.group_id.target_id %}
                {% set href = '/office/task/edit/' ~ task.id.value %}
            {% else %}
                {% set href = '/office/task/' ~ task.id.value %}
            {% endif %}

            <tr>

                {% if input.show_group == 'Y' %}
                    <td>
                        <a href="{{ href }}"><span>{{ task.group_id.entity.name.value }}</span></a>
                    </td>
                {% endif %}



                {% if input.show_road_map == 'Y' %}
                    <td>
                        <a href="{{ href }}">
                            <div class="graph roadmap">
                                <div class="bar" percentage="{{ task.roadmap.value }}" style="width:{{ task.roadmap.value ? : '0' }}%;">&nbsp;</div>
                                <div class="text">{{ task.roadmap.value ? : '0' }}%</div>
                            </div>
                        </a>
                    </td>
                {% endif %}


                {% if input.show_priority == 'Y' %}
                    <td>
                        <a href="{{ href }}"><span>{{ task.priority_text }}</span></a>
                    </td>
                {% endif %}

                <td>
                    <a href="{{ href }}">
                        <span>{{ task.title.value }}</span>
                    </a>
                </td>

                {% if input.show_date == 'Y' %}
                <td>
                    <a href="{{ href }}"><span>{{ task.created.value | date('M d, Y') }}</span></a>
                </td>
                {% endif %}

                {% if input.show_creator == 'Y' %}
                    <td>
                        <a href="{{ href }}"><span>{{ task.creator_id.entity.name.value }}</span></a>
                    </td>
                {% endif %}

                {% if input.show_assigned == 'Y' %}
                    <td>
                        <a href="{{ href }}"><span>{{ task.worker_id.entity.name.value }}</span></a>
                    </td>
                {% endif %}


                {% if input.show_in_charge == 'Y' %}
                    <td>
                        <a href="{{ href }}"><span>{{ task.in_charge_id.entity.name.value }}</span></a>
                    </td>
                {% endif %}


                {% if input.show_client == 'Y' %}
                    <td>
                        <a href="{{ href }}"><span>{{ task.client_id.entity.name.value }}</span></a>
                    </td>
                {% endif %}

                <td>
                    <div class="jbutton group">
                        {% if task.group_id.target_id == my.group_id.target_id %}
                            <a class="jbutton blue-active post" href="{{ href }}">Edit</a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

