<div{{ attributes.addClass( data.class.office ) }}>

    <h2>Task List</h2>

    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}


    <div class="office-message todo">@TODO - Remember search option, Labeling,
        Search for status[In progress, Not accepted, Rejected, Finished]
        Search by priority, roadmap
    </div>

    <form>
        <fieldset>
            <legend> CREATE TASK</legend>
            <input type="hidden" name="mode" value="submit">
            <table class="group-list">
                <tr>
                    <td><label for="group_id">Group</label></td>
                    <td>
                        <select name="group_id" id="group_id">
                            <option value="">Select service group</option>
                            {% for group in groups %}
                                <option value="{{ group.id.value }}"{{ input.group_id == group.id.value ? ' selected' }}>{{ group.name.value }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="creator">Creator :</label>
                    </td>
                    <td>
                        <input type="text" id="creator" name="creator" value="{{ input.creator }}" autocomplete="off" data-autocomplete-url="/office/api?call=autocomplete&type=user">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="worker">Assigned To(Worker) :</label>
                    </td>
                    <td>
                        <input type="text" id="worker" name="worker" value="{{ input.worker }}" autocomplete="off" data-autocomplete-url="/office/api?call=autocomplete&type=user">

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="in_charge">Person in charge :</label>
                    </td>
                    <td>
                        <input type="text" id="in_charge" name="in_charge" value="{{ input.in_charge }}" autocomplete="off" data-autocomplete-url="/office/api?call=autocomplete&type=user">

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="worker">Service For (Client) :</label>
                    </td>
                    <td>
                        <input type="text" id="worker" name="client" value="{{ input.client }}" autocomplete="off" data-autocomplete-url="/office/api?call=autocomplete&type=user">

                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Sort Field :</label>
                    </td>
                    <td>
                        <input type="radio" name="sort" id="priority" value="priority"{{ input.sort == 'priority' ? ' checked=1' }}>
                        <label for="priority">Priority</label>

                        <input type="radio" name="sort" id="date" value="date"{{ input.sort == 'date' ? ' checked=1' }}>
                        <label for="date">Date</label>

                        <input type="radio" name="sort" id="roadmap" value="roadmap"{{ input.sort == 'roadmap' ? ' checked=1' }}>
                        <label for="roadmap">Roadmap</label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label> Sort in :</label>
                    </td>
                    <td>
                        <input type="radio" name="by" id="ASC" value="ASC"{{ input.by == 'ASC' ? ' checked=1' }}>
                        <label for="ASC">Asc</label>
                        <input type="radio" name="by" id="DESC" value="DESC"{{ input.by == 'DESC' ? ' checked=1' }}>
                        <label for="DESC">Desc</label>

                    </td>
                </tr>

                <tr>
                    <td><label>Show Fields:</label></td>
                    <td>

                        <input type="checkbox" name="show_group" id="show_group" value="Y"{{ input.show_group == 'Y' ? ' checked=1' }}>
                        <label for="show_group">Group</label>
                        <input type="checkbox" name="show_priority" id="show_priority" value="Y"{{ input.show_priority == 'Y' ? ' checked=1' }}>
                        <label for="show_priority">Priority</label>
                        <input type="checkbox" name="show_date" id="show_date" value="Y"{{ input.show_date == 'Y' ? ' checked=1' }}>
                        <label for="show_date">Date</label>
                        <input type="checkbox" name="show_creator" id="show_creator" value="Y"{{ input.show_creator == 'Y' ? ' checked=1' }}>
                        <label for="show_creator">Creator</label>
                        <input type="checkbox" name="show_assigned" id="show_assigned" value="Y"{{ input.show_assigned == 'Y' ? ' checked=1' }}>
                        <label for="show_assigned">Assigned To</label>
                        <input type="checkbox" name="show_in_charge" id="show_in_charge" value="Y"{{ input.show_in_charge == 'Y' ? ' checked=1' }}>
                        <label for="show_in_charge"> In charge of</label>
                        <input type="checkbox" name="show_client" id="show_client" value="Y"{{ input.show_client == 'Y' ? ' checked=1' }}>
                        <label for="show_client"> Service For</label>
                        <input type="checkbox" name="show_road_map" id="show_road_map" value="Y"{{ input.show_road_map == 'Y' ? ' checked=1' }}>
                        <label for="show_road_map">Road-map</label>
                    </td>
                </tr>


                <tr>
                    <td><label for="submit"></label></td>
                    <td>
                        <div class="jbutton-group">
                            <input class="jbutton grey-active submit" type="submit" id="submit">
                        </div>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>


    <table width='100%' class="list">
        <tr>

            {% if input.show_group == 'Y' %}
                <td><span>Group</span></td>
            {% endif %}

            {% if input.show_road_map == 'Y' %}
                <td><span>Roadmap</span></td>
            {% endif %}

            {% if input.show_priority == 'Y' %}
                <td><span>Priority</span></td>
            {% endif %}


            <td><span>Title</span></td>

            {% if input.show_date == 'Y' %}
                <td><span>Date</span></td>
            {% endif %}

            {% if input.show_creator == 'Y' %}
                <td><span>Creator</span></td>
            {% endif %}

            {% if input.show_assigned == 'Y' %}
                <td><span>Assigned To</span></td>
            {% endif %}

            {% if input.show_in_charge == 'Y' %}
                <td><span>In charge of</span></td>
            {% endif %}

            {% if input.show_client == 'Y' %}
                <td><span>Client</span></td>
            {% endif %}

            <td>
                <span>
                    ...
                </span>
            </td>

        </tr>
        {% for task in data.tasks %}
            <tr>

                {% if input.show_group == 'Y' %}
                    <td>
                        <span>{{ task.group_id.entity.name.value }}</span>
                    </td>
                {% endif %}



                {% if input.show_road_map == 'Y' %}
                    <td>
                        <div class="graph roadmap">
                            <div class="bar" percentage="{{ task.roadmap.value }}" style="width:{{ task.roadmap.value ? : '0' }}%;">&nbsp;</div>
                            <div class="text">{{ task.roadmap.value ? : '0' }}%</div>
                        </div>
                    </td>
                {% endif %}


                {% if input.show_priority == 'Y' %}
                    <td>
                        <span>{{ task.priority_text }}</span>
                    </td>
                {% endif %}

                <td>
                    <a href="/office/task/{{ task.id.value  }}">
                        <span>{{ task.title.value }}</span>
                    </a>
                </td>

                {% if input.show_date == 'Y' %}
                <td>
                    <span>{{ task.created.value | date('M d, Y') }}</span>
                </td>
                {% endif %}

                {% if input.show_creator == 'Y' %}
                    <td>
                        <span>{{ task.creator_id.entity.name.value }}</span>
                    </td>
                {% endif %}

                {% if input.show_assigned == 'Y' %}
                    <td>
                        <span>{{ task.worker_id.entity.name.value }}</span>
                    </td>
                {% endif %}


                {% if input.show_in_charge == 'Y' %}
                    <td>
                        <span>{{ task.in_charge_id.entity.name.value }}</span>
                    </td>
                {% endif %}


                {% if input.show_client == 'Y' %}
                    <td>
                        <span>{{ task.client_id.entity.name.value }}</span>
                    </td>
                {% endif %}

                <td>
                    {% if task.group_id.target_id == my.group_id.target_id %}
                    <a href="/office/task/edit/{{ task.id.value }}"><span>Edit</span></a>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
    </table>
</div>

