{#
    - task.edit.html.twig
#}
{% set task = data.task %}
{% if task.group_id.target_id %}
    {% set default_group_id = task.group_id.target_id %}
{% else %}
    {% set default_group_id = my.group_id.target_id %}
{% endif %}


<div{{ attributes.addClass( data.class.office ) }}>

    <h2>
        Task
        {% if task %}
            EDIT
        {% else %}
            ADD
        {% endif %}
    </h2>

    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}


    {% if logged_in %}

        <form class="task-edit" action="/office/task/edit" method="post">
            <fieldset>

                <input type="hidden" name="mode" value="submit">
                <input type="hidden" name="task_id" value="{{ task.id.value }}">

                <div class="row title grid">
                    <div class="a"><div class="content"><legend>Create Task</legend></div></div>
                    <div class="b">
                        <div class="content">
                            {% if task %}
                                Created on {{ task.created.value | date('M d, Y H:i:s') }}
                            {% endif %}
                        </div>
                    </div>
                </div>




                <div class="row">
                    <div class="caption">Group</div>
                    <div class="text">{% include dir_office ~ '/templates/form.group_id.html.twig' %}</div>
                </div>

                <div class="row">
                    <div class="caption">Title</div>
                    <div class="text"><input type="text" name="title" id="title" value="{{ task.title.value }}" placeholder="Title"></div>
                </div>

                {% if office.is_member %}
                <div class="row">
                    <div class="caption">Summary</div>
                    <div class="text"><textarea placeholder="Summary" name="summary" id="summary">{{ task.summary.value }}</textarea></div>
                </div>

                <div class="row">
                    <div class="caption">Description :</div>
                    <div class="text"><textarea id="description" name="description">{{ task.description.value }}</textarea></div>
                </div>

                <div class="row">
                    <div class="caption">Deadline :</div>
                    <div class="text"><input type="text" name="deadline" id="deadline" value="{{ task.deadline.value }}"></div>
                </div>

                <div class="row">
                    <div class="caption">Priority :</div>
                    <div class="text">
                        <input id='priority8' type="radio" name="priority" value="8"{{ task.priority.value == priority.urgent.value ? ' checked=1' }}>
                        <label for="priority8">{{ priority.urgent.text }}</label>


                        <input id='priority6' type="radio" name="priority" value="6"{{ task.priority.value == priority.normal.value ? ' checked=1' }}>
                        <label for="priority6">{{ priority.normal.text }}</label>

                        <input id='priority4' type="radio" name="priority" value="4"{{ task.priority.value == priority.low.value ? ' checked=1' }}>
                        <label for="priority4">{{ priority.low.text }}</label>

                        <input id='priority2' type="radio" name="priority" value="2"{{ task.priority.value == priority.none.value ? ' checked=1' }}>
                        <label for="priority2">{{ priority.none.text }}</label>
                    </div>
                </div>

                {% if office.group.option.use_process == 'Y' %}
                <div class="row">
                    <div class="caption">Work Process :</div>
                    <div class="text"><input type="text" id="process" name="process" value="{{ task.process_id.entity.name.value }}" autocomplete="off" data-autocomplete-url="/office/api?call=autocomplete&type=process"></div>
                    <div class="process-holder">
                        {{ task.process | raw }}
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="caption">Work Status :</div>
                    <div class="text">

                        <input id='pending' type="radio" name="status" value="pending"{{ task.status.value == 'pending' ? ' checked=1' }}>
                        <label for="pending">Pending</label>

                        <input id='accepted' type="radio" name="status" value="accepted"{{ task.status.value == 'accepted' ? ' checked=1' }}>
                        <label for="accepted">Accepted</label>

                        <input id='inprogress' type="radio" name="status" value="inprogress"{{ task.status.value == 'inprogress' ? ' checked=1' }}>
                        <label for="inprogress">In-progress</label>

                        <input id='finished' type="radio" name="status" value="finished"{{ task.status.value == 'finished' ? ' checked=1' }}>
                        <label for="finished">Finished</label>

                        <input id='closed' type="radio" name="status" value="closed"{{ task.status.value == 'closed' ? ' checked=1' }}>
                        <label for="closed">Closed</label>

                        <input id='redo' type="radio" name="status" value="redo"{{ task.status.value == 'redo' ? ' checked=1' }}>
                        <label for="redo">Redo (Work again)</label>

                        <input id='rejected' type="radio" name="status" value="rejected"{{ task.status.value == 'rejected' ? ' checked=1' }}>
                        <label for="rejected">Rejected</label>

                    </div>
                </div>

                <div class="row">
                    <div class="caption">Roadmap:</div>
                    <div class="text roadmap">
                        <select name="roadmap">
                            {% for n in 0..10 %}
                                <option value="{{ n * 10 }}"{{ n * 10 == task.roadmap.value ? ' selected=1' }}>{{ n * 10 }} %</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="graph roadmap">
                        <div class="bar" percentage="{{ task.roadmap.value }}" style="width:{{ task.roadmap.value ? : '0' }}%;">&nbsp;</div>
                        <div class="text roadmap ">{{ task.roadmap.value ? : '0' }}%</div>
                    </div>
                </div>

                <div class="row">
                    <div class="caption">Service For (Client) :</div>
                    <div class="text">
                        <input type="text" id="worker" name="client" value="{{ task.client_id.entity.name.value }}" autocomplete="off" data-autocomplete-url="/office/api?call=autocomplete&type=member">
                    </div>
                </div>

                <div class="row">
                    <div class="caption">Assigned To(Worker) :</div>
                    <div class="text">
                        <input type="text" id="worker" name="worker" value="{{ task.worker_id.entity.name.value }}" autocomplete="off" data-autocomplete-url="/office/api?call=autocomplete&type=member">
                    </div>
                </div>

                <div class="row">
                    <div class="caption">Person in charge :</div>
                    <div class="text">
                        <input type="text" id="in_charge" name="in_charge" value="{{ task.in_charge_id.entity.name.value }}" autocomplete="off" data-autocomplete-url="/office/api?call=autocomplete&type=member">
                    </div>
                </div>

                <div class="row">
                    <div class="caption">View status:</div>
                    <div class="text">
                        <input id='view_status_open' type="radio" name="view_status" value="O"{{ task.view_status.value == 'O' ? ' checked=1' }}>
                        <label for="view_status_open">Public</label>
                        <input id='view_status_close' type="radio" name="view_status" value="C"{{ task.view_status.value == 'C' ? ' checked=1' }}>
                        <label for="view_status_close">Private</label>
                    </div>
                </div>

                {% endif %}
                {% if task %}
                    <div class="row">
                        <div class="caption">Comment :</div>
                        <div class="text"><textarea name="comment"></textarea></div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="caption">&nbsp;</div>
                    <div class="jbutton-group">
                        <input class="jbutton grey-active submit" type="submit" id="submit">
                        <a class="jbutton list" href="/office/task/list">LIST</a>
                    </div>
                </div>
            </fieldset>
        </form>
    {% endif %}

    {% if data.logs %}
        <div class="comments">
            {% for task in data.logs %}
                {% if task.task_id %}
                    <div class="row">
                        <div class="username">{{ task.user.name.value }}</div>
                        <div class="date">{{ task.created | date('M d, Y H:i') }}</div>
                        <div class="comment">{{ task.comment }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>

