{#
    - task.edit.html.twig
#}
{% set task = data.task %}
{% if task.group_id.target_id %}
    {% set default_group_id = task.group_id.target_id %}
{% else %}
    {% set default_group_id = my.group_id.target_id %}
{% endif %}


<div{{ attributes.addClass( data.class.office ) }}>

    <h2>
        Task
        {% if task %}
            EDIT
        {% else %}
            ADD
        {% endif %}
    </h2>

    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}

    {% if task %}
        <div>Created : {{ task.created.value | date('M d, Y H:i:s') }}</div>
    {% endif %}

    {% if logged_in %}

        <form action="/office/task/edit" method="post">

            <fieldset>
                <legend></legend>
                <input type="hidden" name="mode" value="submit">
                <input type="hidden" name="task_id" value="{{ task.id.value }}">

                <div class="row">
                    <div class="caption">Group</div>
                    <div class="text">{% include dir_office ~ '/templates/form.group_id.html.twig' %}</div>
                </div>

                <div>
                    <div class="caption">Title</div>
                    <div class="text"><input type="text" name="title" id="title" value="{{ task.title.value }}"></div>
                </div>




                <table class="add-task">
                    {% if office.is_member %}
                    <tr>
                        <td>
                            <label for="summary">Summary:</label>
                        </td>
                        <td>
                            <textarea name="summary" id="summary">{{ task.summary.value }}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="description">Description:</label>
                        </td>
                        <td>
                            <textarea id="description" name="description">{{ task.description.value }}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="deadline">Deadline :</label>
                        </td>
                        <td>
                            <input type="date" name="deadline" id="deadline" value="{{ task.deadline.value }}">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Priority :</label>
                        </td>
                        <td>

                            <input id='priority8' type="radio" name="priority" value="8"{{ task.priority.value == priority.urgent.value ? ' checked=1' }}>
                            <label for="priority8">{{ priority.urgent.text }}</label>


                            <input id='priority6' type="radio" name="priority" value="6"{{ task.priority.value == priority.normal.value ? ' checked=1' }}>
                            <label for="priority6">{{ priority.normal.text }}</label>

                            <input id='priority4' type="radio" name="priority" value="4"{{ task.priority.value == priority.low.value ? ' checked=1' }}>
                            <label for="priority4">{{ priority.low.text }}</label>

                            <input id='priority2' type="radio" name="priority" value="2"{{ task.priority.value == priority.none.value ? ' checked=1' }}>
                            <label for="priority2">{{ priority.none.text }}</label>

                        </td>
                    </tr>


                        {% if office.group.option.use_process == 'Y' %}
                    <tr>
                        <td> <label for="process">Work Process :</label></td>
                        <td>

                            <input type="text" id="process" name="process" value="{{ task.process_id.entity.name.value }}" autocomplete="off" data-autocomplete-url="/office/api?call=autocomplete&type=process"><br>
                            <div class="process-holder">
                                {{ task.process | raw }}
                            </div>
                        </td>
                    </tr>
                        {% endif %}

                    <tr>
                        <td>
                            Work Status :
                        </td>
                        <td>

                            <table>
                                <tr>
                                    <td>
                                        <input id='pending' type="radio" name="status" value="pending"{{ task.status.value == 'pending' ? ' checked=1' }}>
                                        <label for="pending">Pending</label>
                                    </td>
                                    <td>
                                        <input id='accepted' type="radio" name="status" value="accepted"{{ task.status.value == 'accepted' ? ' checked=1' }}>
                                        <label for="accepted">Accepted</label>
                                    </td>
                                    <td>
                                        <input id='inprogress' type="radio" name="status" value="inprogress"{{ task.status.value == 'inprogress' ? ' checked=1' }}>
                                        <label for="inprogress">In-progress</label>
                                    </td>
                                    <td>
                                        <input id='finished' type="radio" name="status" value="finished"{{ task.status.value == 'finished' ? ' checked=1' }}>
                                        <label for="finished">Finished</label>
                                    </td>
                                    <td>
                                        <input id='closed' type="radio" name="status" value="closed"{{ task.status.value == 'closed' ? ' checked=1' }}>
                                        <label for="closed">Closed</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input id='redo' type="radio" name="status" value="redo"{{ task.status.value == 'redo' ? ' checked=1' }}>
                                        <label for="redo">Redo (Work again)</label>
                                    </td>

                                    <td>
                                        <input id='rejected' type="radio" name="status" value="rejected"{{ task.status.value == 'rejected' ? ' checked=1' }}>
                                        <label for="rejected">Rejected</label>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Roadmap:
                        </td>
                        <td>
                            <select  class="road-map" name="roadmap">
                                {% for n in 0..10 %}
                                    <option value="{{ n * 10 }}"{{ n * 10 == task.roadmap.value ? ' selected=1' }}>{{ n * 10 }} %</option>
                                {% endfor %}
                            </select>
                            <div class="graph roadmap">
                                <div class="bar" percentage="{{ task.roadmap.value }}" style="width:{{ task.roadmap.value ? : '0' }}%;">&nbsp;</div>
                                <div class="text">{{ task.roadmap.value ? : '0' }}%</div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="worker">Service For (Client) :</label>
                        </td>
                        <td>
                            <input type="text" id="worker" name="client" value="{{ task.client_id.entity.name.value }}" autocomplete="off" data-autocomplete-url="/office/api?call=autocomplete&type=member">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="worker">Assigned To(Worker) :</label>
                        </td>
                        <td>
                            <input type="text" id="worker" name="worker" value="{{ task.worker_id.entity.name.value }}" autocomplete="off" data-autocomplete-url="/office/api?call=autocomplete&type=member">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="in_charge">Person in charge :</label>
                        </td>
                        <td>
                            <input type="text" id="in_charge" name="in_charge" value="{{ task.in_charge_id.entity.name.value }}" autocomplete="off" data-autocomplete-url="/office/api?call=autocomplete&type=member">

                        </td>
                    </tr>


                    <tr>
                        <td>
                            <label>View status:</label>
                        </td>
                        <td>
                            <input id='view_status_open' type="radio" name="view_status" value="O"{{ task.view_status.value == 'O' ? ' checked=1' }}>
                            <label for="view_status_open">Public</label>
                            <input id='view_status_close' type="radio" name="view_status" value="C"{{ task.view_status.value == 'C' ? ' checked=1' }}>
                            <label for="view_status_close">Private</label>
                        </td>
                    </tr>
                    {% endif %}

                    <tr>
                        <td>
                            <div>Upload files:</div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="submit"></label></td>
                        <td>

                        </td>
                    </tr>
                </table>

                {% if task %}
                    <div>
                        <div class="caption">Comment</div>
                        <div class="text"><textarea name="comment"></textarea></div>
                    </div>
                {% endif %}


                <div class="jbutton-group">
                    <input class="jbutton grey-active submit" type="submit" id="submit">
                    <a class="jbutton list" href="/office/task/list">LIST</a>
                </div>

            </fieldset>
        </form>
    {% endif %}


    <div class="comments">
        {% for task in data.logs %}
            {% if task.task_id %}
                <div class="row">
                    <div class="username">{{ task.user.name.value }}</div>
                    <div class="date">{{ task.created | date('M d, Y H:i') }}</div>
                    <div class="comment">{{ task.comment }}</div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

