{% set task = data.task %}
<div{{ attributes.addClass( data.class.office ) }}>

    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}

	<div class='table-wrapper'>
		<table cellpadding=0 cellspacing=0 width='100%'>
			<tr valign='top'>
				<td width='120'>
					<b>Task No.</b>
				</td>
				<td>
					{{ task.id.value }}
				</td>
			</tr>
            {#
			<tr valign='top'>
				<td>
					<b>Group</b>
				</td>
				<td>
					 {{ task.name.value }}
				</td>
			</tr>
            #}

			{% if task %}
                <tr valign='top'>
                    <td>
                        <b>Created</b>
                    </td>
                    <td>
                        {{ task.created.value | date('M d, Y H:i:s') }}
                    </td>
                </tr>
                <tr valign='top'>
                    <td>
                        <b>Last Update</b>
                    </td>
                    <td>
                        {{ task.changed.value | date('M d, Y H:i:s') }}
                    </td>
                </tr>
			{% endif %}

			<tr valign='top'>
				<td>
					<b>Title</b>
				</td>
				<td>
					 {{ task.title.value }}
				</td>
			</tr>

			<tr valign='top'>
				<td>
					<b>Summary</b>
				</td>
				<td>
					 {{ task.summary.value | raw }}
				</td>
			</tr>

			<tr valign='top'>
				<td>
					<b>Description</b>
				</td>
				<td>
					 {{ task.description.value | raw }}
				</td>
			</tr>

            {#
			<tr valign='top'>
				<td>
					<b>Priority</b>
				</td>
				<td>
					 {{ task.priority.value }}
				</td>
			</tr>

			<tr valign='top'>
				<td>
					<b>View status</b>
				</td>
				<td>
					 {{ task.view_status.value }}
				</td>
			</tr>
			<tr valign='top'>
				<td>
					<b>Work Flowchart</b>
				</td>
				<td>
				</td>
			</tr>
			<tr valign='top'>
				<td>
					<b>Requirement</b>.
				</td>
				<td>
				</td>
			</tr>
			<tr valign='top'>
				<td>
					<b>Created By</b>
				</td>
				<td>
					 {{ task.creator_id.entity.name.value }}
				</td>
			</tr>
			<tr valign='top'>
				<td>
					<b>Service For (Client)</b>
				</td>
				<td>
					 {{ task.client_id.entity.name.value }}
				</td>
			</tr>

            #}
			<tr valign='top'>
				<td>
					<b>Assigned To</b>
				</td>
				<td>
					 {{ task.worker_id.entity.name.value }}
				</td>
			</tr>

			<tr valign='top'>
				<td>
					<b>Person in charge</b>
				</td>
				<td>
					 {{ task.in_charge_id.entity.name.value }}
				</td>
			</tr>
            {#
			<tr valign='top'>
				<td>
					<b>Upload files</b>
				</td>
				<td>
				</td>
			</tr>
            #}
		</table>		
	</div>
	<div class='buttons'>
		<a href="/office/task/list?list_type=simple&mode=submit&group_id={{ task.group_id.target_id }}&show_road_map=Y&show_comment=Y&sort=changed&by=DESC">
			<img src='/themes/x8/templates/philgo-net-mobile/img/office_list.png'/>
		</a>
	</div>
</div>
