<div{{ attributes.addClass( data.class.office ) }}>

    <h2>Task List</h2>

    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}


    <div class="office-message todo">@TODO - Remember search option, Labeling,
        Search for status[In progress, Not accepted, Rejected, Finished]
        Search by priority, roadmap
    </div>

    <form>
        <input type="hidden" name="mode" value="submit">
        <div>
            Group :
            <select name="group_id">
                <option value="">Select service group</option>
                {% for group in groups %}
                    <option value="{{ group.id.value }}"{{ input.group_id == group.id.value ? ' selected' }}>{{ group.name.value }}</option>
                {% endfor %}
            </select>

        </div>

        <div>
            <label for="creator">Creator :</label>
            <input id="creator" name="creator" value="{{ input.creator }}" autocomplete="off" data-autocomplete-url="/office/api?call=autocomplete&type=user">
        </div>

        <div>
            <label for="worker">Assigned To(Worker) :</label>
            <input id="worker" name="worker" value="{{ input.worker }}" autocomplete="off" data-autocomplete-url="/office/api?call=autocomplete&type=user">
        </div>

        <div>
            <label for="in_charge">Person in charge :</label>
            <input id="in_charge" name="in_charge" value="{{ input.in_charge }}" autocomplete="off" data-autocomplete-url="/office/api?call=autocomplete&type=user">
        </div>

        <div>
            <label for="worker">Service For (Client) :</label>
            <input id="worker" name="client" value="{{ input.client }}" autocomplete="off" data-autocomplete-url="/office/api?call=autocomplete&type=user">
        </div>

        <div>
            Sort Field :
            <input type="radio" name="sort" value="priority"{{ input.sort == 'priority' ? ' checked=1' }}>
            Priority

            <input type="radio" name="sort" value="date"{{ input.sort == 'date' ? ' checked=1' }}>
            Date

            <input type="radio" name="sort" value="roadmap"{{ input.sort == 'roadmap' ? ' checked=1' }}>
            Roadmap

        </div>
        <div>
            Sort in :
            <input type="radio" name="by" value="DESC"{{ input.by == 'DESC' ? ' checked=1' }}> Desc
            <input type="radio" name="by" value="ASC"{{ input.by == 'ASC' ? ' checked=1' }}> Asc
        </div>

        <div>
            Show Fields:
            <input type="checkbox" name="show_group" value="Y"{{ input.show_group == 'Y' ? ' checked=1' }}> Group,
            <input type="checkbox" name="show_priority" value="Y"{{ input.show_priority == 'Y' ? ' checked=1' }}> Priority,
            <input type="checkbox" name="show_date" value="Y"{{ input.show_date == 'Y' ? ' checked=1' }}> Date,
            <input type="checkbox" name="show_creator" value="Y"{{ input.show_creator == 'Y' ? ' checked=1' }}> Creator,
            <input type="checkbox" name="show_assigned" value="Y"{{ input.show_assigned == 'Y' ? ' checked=1' }}> Assigned To,
            <input type="checkbox" name="show_in_charge" value="Y"{{ input.show_in_charge == 'Y' ? ' checked=1' }}> In charge of,
            <input type="checkbox" name="show_client" value="Y"{{ input.show_client == 'Y' ? ' checked=1' }}> Service For,
            <input type="checkbox" name="show_road_map" value="Y"{{ input.show_road_map == 'Y' ? ' checked=1' }}> Road-map.
        </div>

        <input type="submit">

    </form>


    <table width='100%' class="list">
        <tr>

            {% if input.show_group == 'Y' %}
                <td><span>Group</span></td>
            {% endif %}

            {% if input.show_road_map == 'Y' %}
                <td><span>Roadmap</span></td>
            {% endif %}

            {% if input.show_priority == 'Y' %}
                <td><span>Priority</span></td>
            {% endif %}


            <td><span>Title</span></td>

            {% if input.show_date == 'Y' %}
                <td><span>Date</span></td>
            {% endif %}

            {% if input.show_creator == 'Y' %}
                <td><span>Creator</span></td>
            {% endif %}

            {% if input.show_assigned == 'Y' %}
                <td><span>Assigned To</span></td>
            {% endif %}

            {% if input.show_in_charge == 'Y' %}
                <td><span>In charge of</span></td>
            {% endif %}

            {% if input.show_client == 'Y' %}
                <td><span>Client</span></td>
            {% endif %}

            <td><span>...</span></td>

        </tr>
        {% for task in data.tasks %}
            <tr>

                {% if input.show_group == 'Y' %}
                    <td>
                        <span>{{ task.group_id.entity.name.value }}</span>
                    </td>
                {% endif %}



                {% if input.show_road_map == 'Y' %}
                    <td>
                        <span>{{ task.roadmap.value }}</span>
                    </td>
                {% endif %}


                {% if input.show_priority == 'Y' %}
                    <td>
                        <span>{{ task.priority_text }}</span>
                    </td>
                {% endif %}

                <td>
                    <a href="/office/task/{{ task.id.value  }}">
                        <span>{{ task.title.value }}</span>
                    </a>
                </td>

                {% if input.show_date == 'Y' %}
                <td>
                    <span>{{ task.created.value | date('M d, Y') }}</span>
                </td>
                {% endif %}

                {% if input.show_creator == 'Y' %}
                    <td>
                        <span>{{ task.creator_id.entity.name.value }}</span>
                    </td>
                {% endif %}

                {% if input.show_assigned == 'Y' %}
                    <td>
                        <span>{{ task.worker_id.entity.name.value }}</span>
                    </td>
                {% endif %}


                {% if input.show_in_charge == 'Y' %}
                    <td>
                        <span>{{ task.in_charge_id.entity.name.value }}</span>
                    </td>
                {% endif %}


                {% if input.show_client == 'Y' %}
                    <td>
                        <span>{{ task.client_id.entity.name.value }}</span>
                    </td>
                {% endif %}

                <td>
                    {% if task.group_id.target_id == my.group_id.target_id %}
                    <a href="/office/task/edit/{{ task.id.value }}"><span>Edit</span></a>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
    </table>
</div>

